<!doctype html>

<html>
	<head>
		<title>Re:Time</title>
		<meta charset="utf-8">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	</head>

	<body>
		<p>hello world</p>
	</body>
</html>
