<!doctype html>

<html>
<head>
	<title>CCL Database</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/hci.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Fixed navbar -->
    <style type="text/css">
    li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    li.dropdown:hover {
        color: #555;
        background-color: #e7e7e7;
        box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
        -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
    }
    .sidenav-anchor {
        padding-top: 62px;
        margin-top: -62px; 
    }
</style>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">CCL DATABASE</a>        
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="home">Home</a></li>
                <li><a href="primates">primates</a></li>                
                <li><a href="human">Human</a></li>                
                <li><a href="dogs">Dogs</a></li> 
                <li class="active"><a href="individual">Profile</a></li> 
            </ul>
            
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container primates_list">
        <div class="col-md-13">
        <div class="table-responsive">                
            <table id="mytable" class="table table-bordred table-striped">
              <!--<table class="table">-->
            <thead>
                <!-- <th>ID</th> -->
                <th><input type="checkbox" id="checkall" /></th>
                <th>Infant Name</th>
                <th>Birthday</th>
                <th>Species</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>

            <tbody>
                {{#each profile_data}}
                    <tr>
                        <!-- <td>{{id}}</td> -->
                        <td><input type="checkbox" class="checkthis" /></td>
                        <td>{{individual_name}}</td>
                        <td>{{individual_birthday}}</td>
                        <td>{{species}}</td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</body>
</html>