<!doctype html>

<html>
<head>
	<title>CCL Database</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/hci.css" rel="stylesheet">
	<link href="css/duration-picker.css" rel="stylesheet">
	<link href="css/video.css" rel="stylesheet">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
	<!-- Fixed navbar -->

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="home">CCL DATABASE</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="home">Home</a></li>
					<li class="active"><a href="primates">primates</a></li>
					<li><a href="human">Human</a></li>
					<li><a href="dogs">Dogs</a></li>
					<li><a href="individual">Profile</a></li>
				</ul>

			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<div class="container form-video">
		<div class="col-md-4">
			<div class="video">
				<h4>Video</h4>
				<div id="message"></div>
				<input type="file" accept="video/*"/>

			</div>


			<form id="main_create_form" action = "/create_primate" method="post" novalidate>

				<!-- choose to play video >
				<input type="file" accept="video/*"/
				<video controls autoplay></video-->

				<br />

				<div class="form-group">
					<label for="fileName">Name of File: </label>
					<input type="text" class="form-control" id="taskname" name="fileName" placeholder="Video name here">
				</div>

				<div class="form-group">
					<label for="date">Date Recorded: </label>
					<input type="text" class="form-control" id="calendar" name="date" placeholder="The date video was taken">
				</div>

				<!--div class="form-group">
					<label for="species">Species: </label>
					<input type="text" class="form-control" list="cars" name="species" placeholder="gorilla or bonobo">
					<datalist id="cars">
						<option>Gorilla</option>
						<option>Bonobo</option>
						<option>Chimpanzee</option>
					</datalist>
				</div>



				<div class="form-group">
				<label for="species">Species: </label>
				<input type="text" class="form-control" id="taskname" name="species" placeholder="gorilla or bonobo">
			</div-->

			<div class="form-group">
				<label for="infantName">Infant Name: </label>
				<select class="form-control" id="infant_info" name="infantId">
					<option value="0">Infant name not in the drop down list</option>
					{{#each infant}}
        			<option value={{id}}>{{individual_name}} {{individual_birthday}}</option>
        			{{/each}}
      			</select>
			</div>
			<div class="form-group">
				<input type="text"  id="infantName"  placeholder="Infant name" list="infant_info" name="infantName" class="form-control">
			</div>

			<div class="form-group">
				<label for="video_description">Video Description: </label>
				<textarea type="text" class="form-control" id="video_description" name="video_description" placeholder="Specifiction about the video" rows="3"></textarea>
			</div>

	</div>
	<div class="col-md-8">
		<video controls autoplay></video>
	</div>
</div>
<div class="container">
<div class="clone">
	<table id="mytable" class="table table-bordred table-striped">
		<br />
		<br />
		<!--<table class="table">-->
		<thead>
      <th style="width:23%" >Start Time</th>
      <th>Activity</th>
      <th>Variation</th>
      <th style="width:23%" >End time</th>
      <th>Partner</th>
      <th class="col-md-3">Comment</th>
      <th>Delete</th>

		</thead>

		<tbody>
			<tr class="coding-row">
				<td><input type="time" id="start_time" class="start_time row_timer" name="startTime"> <button type="button" class="set-time btn btn-success btn-xs" data-title="Delete" data-target="#delete" disabled><span class="glyphicon glyphicon-plus"></span></button></td>
				<td><input class="form-control" type="text" name="activity" list="activity"placeholder="Carry"></td>
          <datalist id="activity">
            <option>CARRY</option>
            <option>NURSE</option>
            <option>PLAY</option>
            <option>COLOC</option>
            <option>FOSHARE</option>
            <option>GROOM</option>
            <option>BECKON</option>
            <option>DRUM</option>
          </datalist>
				<td><input class="form-control" type="text" name="variation" list="variation"placeholder="Ventral"></td>
          <datalist id="variation">
            <option>Ventral</option>
            <option>Dorsal</option>
            <option>On Arm</option>
            <option>On Leg</option>
            <option>Leave empty</option>
            <option>Chase</option>
            <option>Rough and Tumble</option>
            <option>Teasing</option>
            <option>Other</option>
          </datalist>
				<td>
					<input type="time" id="end_time" class="row_timer" name="endTime">
					<button type="button" class="set-time btn btn-primary btn-xs" disabled>
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</td>
				<td><input class="form-control" type="text" name="partner" placeholder="Mother"></td>
				<td><input class="form-control" type="text" name="comment" placeholder="Sexual Behavior"></td>
				<td><p data-placement="top" data-toggle="tooltip" title="Delete"><button type="button" class="deleteBtn btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p></td>
			</tr>
			<tr>
				<button type="button" name="button" id="duplicate" class="btn btn-primary">Add row</button>
			</tr>
		</tbody>
	</table>

	<div class=row>
		<div class="col-md-2">
			<input type="submit" value="Submit" class="btn btn-secondary"/>
      		<a href="home">    Cancel </a>
		</div>

	</div>
	<br style="margin-bottom:700px;"/>
</div>
</div>
</form>



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="js/bootstrap.min.js"></script>

<!--time duration picker-->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="js/duration-picker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.js"></script>

<script >
$(function() {
	$(".row_timer").durationPicker();
})
</script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.js"></script>

<script >
$(function() {
	$( "#calendar" ).datepicker({dateFormat:'yy-mm-dd'});
})
</script>
<script>console.log( $( "#calendar" ).val());</script>

<script src="js/video.js">
$(function(){
	$("#message").localFileVideoPlayer();
});
</script>

<script>
		$(document).on('click', ".deleteBtn", function() {
			var whichtr = $(this).parents("tr");
			var numRow = $(".coding-row").length;
			if (numRow > 1) {
	    	whichtr.remove();
	    	}
	    });
</script>

<script type="text/javascript">
	function updateDuration(durationPicker, time){
		var hours = Math.floor(time/3600);
		time = time % 3600;
		var minutes = Math.floor(time/60);
		time = time % 60;
		var seconds = Math.floor(time);
		durationPicker.find("input#duration-hours").val("" + hours)
		durationPicker.find("input#duration-minutes").val("" + minutes)
		durationPicker.find("input#duration-seconds").val("" + seconds)

		console.log(hours + " " + minutes + " " + seconds);

	}
	var ListenerSuite = {
		setTime: function(){
			var $video = $("video")[0];
			$("button.set-time").click(function(){
				console.log($video.currentTime);
				console.log($(this).siblings(".durationpicker-container"));
				updateDuration($(this).siblings(".durationpicker-container"), $video.currentTime);
			});
		}
	}
	$(document).ready(function(){
		var $video = $("video")[0];
		$("button#duplicate").click(function(){
	        var $test = $(".coding-row");
	        var $clone = ($test).first().clone();
			console.log($clone);
	        $clone.find("input").val("");
	        $clone.prependTo("tbody");
	    })


		$("video").on("play",function(){
			$("button.set-time").each(function(){this.disabled = false});
		})

		ListenerSuite.setTime();
	})
</script>

<!--script>
$('table').on('click', 'input[type="button"]', function(e){
   $(this).closest('tr').remove()
   console.log("removed");
})
</script-->

<script>
$(function() {

	var get_pad_nb = function (nb) {
		while (nb.length < 2) {
			nb = '0' + nb;
		}

		return nb;
	};

	var update_time = function () {
		var currentElement = $(this);
		var parent = currentElement.parents('td');

		var hourInput 	 = parent.find('#duration-hours');
		var minutesInput = parent.find('#duration-minutes');
		var secondsInput = parent.find('#duration-seconds');

		var hours 	= get_pad_nb(hourInput.val());
		var minutes = get_pad_nb(minutesInput.val());
		var seconds = get_pad_nb(secondsInput.val());

   		parent.find('input[name=startTime]').val(hours + ':' + minutes + ':' + seconds);
	};

	$(document).on('change', "#duration-hours", update_time);
 	$(document).on('change', "#duration-minutes", update_time);
	$(document).on('change', "#duration-seconds", update_time);

	var toggleInfantInput = function (selectVal) {
		console.log(selectVal)
		$('#infantName').toggle(selectVal == 0)
	};

	$('#infant_info').on('change', function () {
		toggleInfantInput($(this).val());
	});

	toggleInfantInput($('#infant_info').val())

});
</script>

</body>
</html>
