<!doctype html>

<html>
<head>
	<title>CCL Database</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/hci.css" rel="stylesheet">
	<link href="css/duration-picker.css" rel="stylesheet">
	<link href="css/video.css" rel="stylesheet">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
	<!-- Fixed navbar -->

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="home">CCL DATABASE</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="home">Home</a></li>
					<li class="active"><a href="primates">primates</a></li>
					<li><a href="human">Human</a></li>
					<li><a href="dogs">Dogs</a></li>
				</ul>

			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<div class="container form-video">
		<div class="col-md-4">
			<div class="video">
				<h1>HTML5 local video file player example</h1>
				<div id="message"></div>
				<input type="file" accept="video/*"/>

			</div>


			<form id="main_create_form" action = "/create_primate" method="post">

				<!-- choose to play video >
				<input type="file" accept="video/*"/
				<video controls autoplay></video-->

				<br />

				<div class="form-group">
					<label for="fileName">Name of File: </label>
					<input type="text" class="form-control" id="taskname" name="fileName" placeholder="Video name here">
				</div>

				<div class="form-group">
					<label for="date">Date Recorded: </label>
					<input type="text" class="form-control" id="calendar" name="date" placeholder="The date video was taken">
				</div>

				<div class="form-group">
					<label for="species">Species: </label>
					<input type="text" class="form-control" list="cars" name="species" placeholder="gorilla or bonobo">
					<datalist id="cars">
						<option>Gorilla</option>
						<option>Bonobo</option>
						<option>Chimpanzee</option>
					</datalist>
				</div>

				<!--div class="form-group">
				<label for="species">Species: </label>
				<input type="text" class="form-control" id="taskname" name="species" placeholder="gorilla or bonobo">
			</div-->

			<div class="form-group">
				<label for="infantName">Infant Name: </label>
				<input type="text" class="form-control" id="taskname" name="infantName" placeholder="Yaro">
			</div>

		</form>
	</div>
	<div class="col-md-8">
		<video controls autoplay></video>
	</div>
</div>
<div class="container">
	<table id="mytable" class="table table-bordred table-striped">
		<br />
		<br />
		<!--<table class="table">-->
		<thead>
			<!-- <th>ID</th> -->
			<th>Start Time</th>
			<th>Activity</th>
			<th>Variation</th>
			<th>End time</th>
			<th>Partner</th>
			<th>Comment</th>
			<th>Delete</th>
		</thead>

		<tbody>
			<tr class="coding-row">
				<td><input type="text" id="start_time" class="row_timer" name="r1_Start_Time"></td>
				<td><input type="text" name="r1_Activity" placeholder="Carry"></td>
				<td><input type="text" name="r1_Variation" placeholder="Ventral"></td>
				<td><input type="text" id="end_time" class="row_timer" name="r1_End_Time"></td>
				<td><input type="text" name="r1_Partner" placeholder="Mother"></td>
				<td><input type="text" name="r1_Comment" placeholder="Sexual Behavior"></td>
				<td></td>
				<td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
			</tr>
			<tr>
				<button type="button" name="button" id="duplicate" class="btn btn-primary">Add row</button>
			</tr>
		</tbody>
	</table>

	<div class=row>
		<div class="col-md-6">
			<input type="submit" value="Submit" class="btn btn-secondary"/>
		</div>
	</div>
	<a href="home">    Cancel </a>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="js/bootstrap.min.js"></script>

<!--time duration picker-->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="js/duration-picker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.js"></script>

<script >
$(function() {
	$(".row_timer").durationPicker();
})
</script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.js"></script>
<script >
$(function() {
	$( "#calendar" ).datepicker({dateFormat:'yy-mm-dd'});
})
</script>
<script>console.log( $( "#calendar" ).val());</script>

<script src="js/video.js">
$(function(){
	$("#message").localFileVideoPlayer();
});
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$("button#duplicate").click(function(){
	        var $test = $(".coding-row");
	        var $clone = ($test).first().clone();
			console.log($clone);
	        $clone.find("input").val("");
	        $clone.appendTo("tbody");
	    })
	})
</script>
</body>
</html>
