<!doctype html>

<html>
<head>
	<title>CCL Database</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/hci.css" rel="stylesheet">
  <link href="css/duration-picker.css" rel="stylesheet">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Fixed navbar -->

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">CCL DATABASE</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="home">Home</a></li>
                <li class="active"><a href="primates">primates</a></li>
                <li><a href="human">Human</a></li>
                <li><a href="dogs">Dogs</a></li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</div>
    
    <div class="col-sm-6">
          <form id="main_create_form" action = "/create_primate" method="post">

            <!-- choose to play video -->
            <input type="file" accept="video/*"/
            <video controls autoplay></video>

            <br />

            <div class="form-group">
              <label for="fileName">Name of File: </label>
              <input type="text" class="form-control" id="taskname" name="fileName" placeholder="Video name here">
            </div>

            <div class="form-group">
              <label for="date">Date Recorded: </label>
              <input type="text" class="form-control" id="calendar" name="date" placeholder="The date video was taken">
            </div>

            <div class="form-group">
              <label for="species">Species: </label>
              <input type="text" class="form-control" list="cars" name="species" placeholder="gorilla or bonobo">
                <datalist id="cars">
                <option>Gorilla</option>
                <option>Bonobo</option>
                <option>Chimpanzee</option>
              </datalist>
            </div>

            <!--div class="form-group">
              <label for="species">Species: </label>
              <input type="text" class="form-control" id="taskname" name="species" placeholder="gorilla or bonobo">
            </div-->

            <div class="form-group">
              <label for="infantName">Infant Name: </label>
              <input type="text" class="form-control" id="taskname" name="infantName" placeholder="Yaro">
            </div>
            
            <!--div class="time_due_field form-group">
              <label for="timedue">Start Time: </label>
              <input type="datetime" class="form-control" id="timedue" name="startTime" placeholder="2016-01-01 01:01:01">
            </div>
              
            <div class="form-group">
              <label for="infantName">Activity: </label>
              <input type="text" class="form-control" id="taskname" name="activity" placeholder="Carry">
            </div>
              
            <div class="form-group">
              <label for="infantName">Variation: </label>
              <input type="text" class="form-control" id="taskname" name="variation" placeholder="Ventral">
            </div>
            
            <div class="time_due_field form-group">
              <label for="timedue">End Time: </label>
              <input type="datetime" class="form-control" id="timedue" name="endTime" placeholder="2016-01-01 01:01:01">
            </div>
              
            <div class="form-group">
              <label for="infantName">Partner: </label>
              <input type="text" class="form-control" id="taskname" name="partner" placeholder="Mother">
            </div>
              
            <div class="form-group">
              <label for="infantName">Comment: </label>
              <input type="text" class="form-control" id="taskname" name="comment" placeholder="Sexual Behavior">
            </div-->

        </form>
    </div>

    <div class="col-md-11">
        <table id="mytable" class="table table-bordred table-striped">
            <br />
            <br />
            <!--<table class="table">-->
            <thead>
            <!-- <th>ID</th> -->
                <th>Start Time</th>
                <th>Activity</th>
                <th>Variation</th>
                <th>End time</th>
                <th>Partner</th>
                <th>Comment</th>
             </thead>

             <tbody>
                <td><input type="text" id="duration" name="r1_Start_Time"></td>
                <!--td><input type="text" name="r1_Start_Time" id="time_picker" placeholder="2016-01-01 01:01:01" ></td-->
                <td><input type="text" name="r1_Activity" placeholder="Carry"></td>
                <td><input type="text" name="r1_Variation" placeholder="Ventral"></td>
                <!--td><input type="text" name="r1_End_Time" id="time_picker" placeholder="2016-01-01 01:01:01" ></td-->
                <td><input type="text" id="duration" name="r1_End_Time"></td>
                <td><input type="text" name="r1_Partner" placeholder="Mother"></td>
                <td><input type="text" name="r1_Comment" placeholder="Sexual Behavior"></td>
             </tbody>
        </table>


            <input type="submit" value="Submit" class="btn btn-secondary"/>
            <a href="home">    Cancel </a>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--time duration picker-->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="js/duration-picker.js"></script>

    <script>
    $(function() {
      $("#duration").durationPicker();
    })
    </script>
    
    <script>console.log( $( "#duration" ).val());</script>

    <script>
     $(function() {
      $( "#calendar" ).datepicker({dateFormat:'yy-mm-dd'});
    })
    </script>

    <script>console.log( $( "#calendar" ).val());</script>
</body>
</html>
